button.btn-password-toggle {
    background-color: white !important;
    border-color: #dee2e6 !important;
    border-left: none !important;
    box-shadow: none !important;
  }
  
  button.btn-password-toggle:hover,
  button.btn-password-toggle:focus {
    background-color: white !important;
    border-color: #dee2e6 !important;
  }