<div *ngIf="isPublicRoute(); else mainLayout">
  <router-outlet></router-outlet>
</div>

<ng-template #mainLayout>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div
      [class.collapsed]="isSidebarCollapsed"
      class="bg-light border-end"
      id="sidebar-wrapper"
    >
      <!-- Botão de colapso dentro da sidebar -->
      <button
        class="btn btn-light position-absolute top-50 end-0 translate-middle-y p-1"
        style="z-index: 1000"
        (click)="toggleSidebar()"
        aria-label="Colapsar sidebar"
      >
        <span class="material-icons">
          {{ isSidebarCollapsed ? "chevron_right" : "chevron_left" }}
        </span>
      </button>

      <!-- Cabeçalho -->
      <div
        (click)="navigateToHome()"
        class="sidebar-heading bg-warning text-dark d-flex align-items-center gap-2 px-3 py-2"
      >
        <span class="material-symbols-outlined">breakfast_dining</span>
        <span>Gestão do Forno</span>
      </div>

      <!-- Menu lateral -->
      <div class="list-group list-group-flush">
        <a
          (click)="navigateToDashboard()"
          class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center gap-2 px-3 py-2"
        >
          <span class="material-icons">dashboard</span>
          <span>Dashboard</span>
        </a>
        <a
          (click)="navigateToProducts()"
          class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center gap-2 px-3 py-2"
        >
          <span class="material-icons">inventory_2</span>
          <span>Produtos</span>
        </a>
        <a
          (click)="navigateToSales()"
          class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center gap-2 px-3 py-2"
        >
          <span class="material-icons">point_of_sale</span>
          <span>Vendas</span>
        </a>
        <a
          (click)="navigateToReport()"
          class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center gap-2 px-3 py-2"
        >
          <span class="material-icons">bar_chart</span>
          <span>Relatórios</span>
        </a>
      </div>
    </div>

    <!-- Conteúdo principal -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
        <div class="container-fluid">
          <div class="d-flex ms-auto">
            <button class="btn btn-outline-light" (click)="logout()">
              Sair
            </button>
          </div>
        </div>
      </nav>

      <div class="container-fluid mt-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-template>